@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: #c5e4e7;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem 0 3.5rem 0;
}

.card {
  background-color: white;
  width: 100%;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  padding: 2.8rem;
}

.card .input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.card .input .label-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;
}

.card .input .label-wrapper label {
  color: #5e7a7d;
  font-size: 1.5rem;
  font-weight: 700;
}

.card .input .label-wrapper .error-msg {
  color: indianred;
  font-weight: 700;
  font-size: 1.5rem;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.card .input .label-wrapper .show-error-msg {
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.card .input .input-text {
  background-color: #f4fafa;
  border: none;
  width: 100%;
  border-radius: 0.5rem;
  color: #00494d;
  font-family: 'Space Mono', monospace;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: right;
  padding: 0.5rem 1.6rem;
}

.card .input .input-text:focus {
  outline: none;
  border: 2px solid #26c0ab;
}

.card .input .input-text::-webkit-input-placeholder {
  color: #7f9c9f;
}

.card .input .input-text:-ms-input-placeholder {
  color: #7f9c9f;
}

.card .input .input-text::-ms-input-placeholder {
  color: #7f9c9f;
}

.card .input .input-text::placeholder {
  color: #7f9c9f;
}

.card .input .input-text-error:focus {
  border: 2px solid indianred;
}

.card .input .input-wrapper {
  position: relative;
  padding-bottom: 2rem;
}

.card .input .input-wrapper img {
  position: absolute;
  left: 1.8rem;
  top: 1.5rem;
}

.card .input .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.4rem;
  padding: 1rem 0 2rem 0;
}

.card .input .btn-wrapper .btn {
  width: 47%;
  text-align: center;
  background-color: #00494d;
  color: white;
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 0.4rem;
  padding: 0.6rem 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card .input .btn-wrapper .btn:hover {
  background-color: #26c0ab;
  color: #00494d;
}

.card .input .btn-wrapper .btn-active {
  background-color: #26c0ab;
  color: #00494d;
}

.card .input .btn-wrapper .input-text {
  width: 47%;
}

.card .output {
  background-color: #00494d;
  width: 100%;
  border-radius: 1.5rem;
  padding: 2.2rem;
}

.card .output .line-wrapper .line-output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.4rem 0 2.4rem 0;
}

.card .output .line-wrapper .line-output .title {
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
}

.card .output .line-wrapper .line-output .desc {
  color: #7f9c9f;
  font-weight: 700;
  font-size: 1.3rem;
}

.card .output .line-wrapper .line-output .value {
  color: #26c0ab;
  font-weight: 700;
  font-size: 3rem;
}

.card .output .btn {
  width: 100%;
  background-color: #26c0ab;
  text-transform: uppercase;
  text-align: center;
  color: #00494d;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 0.4rem;
  padding: 1rem 0;
  margin-top: 3.4rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card .output .btn:hover {
  background-color: #c5e4e7;
}

.attribution {
  font-size: 10px;
  text-align: center;
  padding: 10px 0;
  background-color: white;
}

.attribution a {
  color: #26c0ab;
}

@media screen and (min-width: 768px) {
  .card {
    width: 78%;
    border-radius: 2.5rem;
    gap: 1rem;
    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 30px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 30px rgba(0, 0, 0, 0.05);
  }
  .card .input {
    width: 105%;
    padding: 0 3.5rem 1.5rem 1.5rem;
  }
  .card .input .line-wrapper {
    padding: 1rem 0;
  }
  .card .input .btn-wrapper {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .card .input .btn-wrapper .btn {
    width: 100%;
  }
  .card .input .btn-wrapper .input-text {
    width: 100%;
  }
  .card .output {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4rem;
  }
  .card .output .line-wrapper .line-output {
    margin: 0.5rem 0 2.4rem 0;
  }
  .card .output .line-wrapper .line-output .value {
    font-size: 4rem;
    margin-left: 1rem;
  }
  .attribution {
    font-size: 11px;
    background: transparent;
    margin-top: 20px;
  }
}

@media screen and (min-width: 900px) {
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 3.4rem;
  }
}

@media screen and (min-width: 1185px) {
  .card .input .btn-wrapper {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .card .output .line-wrapper .line-output .value {
    font-size: 4.6rem;
  }
}
/*# sourceMappingURL=styles.css.map */